@import "tailwindcss";
@import "tailwind-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --brand: 46 100% 55%;
  --brand-muted: 46 100% 45%;
  --brand-soft: 46 100% 92%;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3351 0.0331 260.9120);
  --card: oklch(0.9816 0.0017 247.8390);
  --card-foreground: oklch(0.3351 0.0331 260.9120);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3351 0.0331 260.9120);
  --primary: oklch(0.8618 0.1711 90.0202);
  --primary-foreground: oklch(0.3351 0.0331 260.9120);
  --secondary: oklch(0.6078 0.1675 248.9550);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9288 0.0126 255.5078);
  --muted-foreground: oklch(0.5956 0.0381 257.8663);
  --accent: oklch(0.7060 0.1913 39.1590);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6137 0.2039 25.5645);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8687 0.0187 250.6095);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.6078 0.1675 248.9550);
  --chart-1: oklch(0.8618 0.1711 90.0202);
  --chart-2: oklch(0.6078 0.1675 248.9550);
  --chart-3: oklch(0.6137 0.2039 25.5645);
  --chart-4: oklch(0.7060 0.1913 39.1590);
  --chart-5: oklch(0.3351 0.0331 260.9120);
  --sidebar: oklch(0.8618 0.1711 90.0202);
  --sidebar-foreground: oklch(0.3351 0.0331 260.9120);
  --sidebar-primary: oklch(0.6078 0.1675 248.9550);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6137 0.2039 25.5645);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.9030 0.1443 96.9907);
  --sidebar-ring: oklch(0.6078 0.1675 248.9550);
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.15;
  --shadow-color: #FDCB1E;
  --shadow-2xs: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.07);
  --shadow-xs: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.07);
  --shadow-sm: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.15), 0px 1px 2px -1px hsl(46.5471 98.2379% 55.4902% / 0.15);
  --shadow: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.15), 0px 1px 2px -1px hsl(46.5471 98.2379% 55.4902% / 0.15);
  --shadow-md: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.15), 0px 2px 4px -1px hsl(46.5471 98.2379% 55.4902% / 0.15);
  --shadow-lg: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.15), 0px 4px 6px -1px hsl(46.5471 98.2379% 55.4902% / 0.15);
  --shadow-xl: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.15), 0px 8px 10px -1px hsl(46.5471 98.2379% 55.4902% / 0.15);
  --shadow-2xl: 0px 0.5rem 0.75rem 0rem hsl(46.5471 98.2379% 55.4902% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2433 0.0247 263.9506);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.3351 0.0331 260.9120);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.3351 0.0331 260.9120);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.8618 0.1711 90.0202);
  --primary-foreground: oklch(0.2433 0.0247 263.9506);
  --secondary: oklch(0.6078 0.1675 248.9550);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.4474 0.0343 261.3244);
  --muted-foreground: oklch(0.7457 0.0304 254.7208);
  --accent: oklch(0.7060 0.1913 39.1590);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6137 0.2039 25.5645);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4474 0.0343 261.3244);
  --input: oklch(0.4474 0.0343 261.3244);
  --ring: oklch(0.6078 0.1675 248.9550);
  --chart-1: oklch(0.8618 0.1711 90.0202);
  --chart-2: oklch(0.6078 0.1675 248.9550);
  --chart-3: oklch(0.6137 0.2039 25.5645);
  --chart-4: oklch(0.7060 0.1913 39.1590);
  --chart-5: oklch(0.9288 0.0126 255.5078);
  --sidebar: oklch(0.2433 0.0247 263.9506);
  --sidebar-foreground: oklch(0.8618 0.1711 90.0202);
  --sidebar-primary: oklch(0.6078 0.1675 248.9550);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6137 0.2039 25.5645);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4474 0.0343 261.3244);
  --sidebar-ring: oklch(0.6078 0.1675 248.9550);
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 0.75rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 0.75rem 1rem 0rem hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}